{% extends 'ControlAdminBundle:Bootstrap:layout.html.twig' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block content %}
	<h1>{{ 'User'|trans }} <small>{{ 'edit'|trans }}</small></h1>
	<div class="btn-group">
		<a href="{{ path('_admin_users') }}" class="btn btn-primary">{{ 'Users list'|trans }}</a>
	</div>
	{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
	{{ form_widget(form) }}
	{{ form_end(form) }}

{% endblock %}