{% extends 'ControlAdminBundle:Bootstrap:layout.html.twig' %}

{% block content %}
	<h1>{{ 'Users'|trans }} <small>{{ 'list'|trans }}</small></h1>
	{% include 'ControlAdminBundle:Bootstrap/User:usersListFilter.html.twig' with{'form': formFilter} only %}
	<div class="container-fluid">
		<div class="row">
			<div class="btn-group pull-left">
				<a href="{{ path('_admin_user_create') }}" class="btn btn-primary">{{ 'Create new user'|trans }}</a>
			</div>
			{% set pager %}{% include 'ControlAdminBundle:Bootstrap/Common:pagination.html.twig' with {'pager': pager, 'items': users, 'filter': filter, 'paginationClassName': 'pagination-inline'} only %}{% endset %}
			{{ pager }}
		</div>
	</div>
	<table class="table table-bordered table-striped table-hover table-condensed table-list">
		<thead>
		<tr>
			<th class="col-mark"><input type="checkbox"/></th>
			<th class="col-email">{{ 'E-mail'|trans }}:</th>
			<th class="col-sex">{{ 'Sex'|trans }}:</th>
			<th class="col-removed">{{ 'Removed'|trans }}:</th>
			<th class="col-control">{{ 'Control'|trans }}:</th>
		</tr>
		</thead>
		<tbody>
		{% for number, user in users %}
			<tr{% if user.isRemoved %} class="danger"{% endif %}>
				<td class="col-mark"><input type="checkbox"/></td>
				<td class="col-email">
					{{ user.getEmail }}
					{% if user.getUserGroups|length > 0 %}
						({% for userGroup in user.getUserGroups %}{{ userGroup.getName }}{% if not loop.last %}, {% endif %}{% endfor %})
					{% endif %}
				</td>
				<td class="col-sex">{{ user.getSex }}</td>
				<td class="col-removed">{{ user.isRemoved ? 'Yes'|trans : 'No'|trans }}</td>
				<td class="col-control">
					<div class="btn-group btn-group-xs" role="group">
						<a href="{{ path('_admin_user_edit', {'id': user.getId}) }}" target="_self" class="btn btn-default">{{ 'Edit'|trans }}</a>
						<a href="{{ path('_admin_user_remove', {'id': user.getId}) }}" target="_self" class="btn btn-danger{% if user.isRemoved %} disabled{% endif %}">{{ 'Remove'|trans }}</a>
					</div>
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
	{{ pager }}

{% endblock %}