{% extends 'ControlAdminBundle:Bootstrap:layout.html.twig' %}

{% block content %}
	<h1>{{ 'User groups'|trans }} <small>{{ 'list'|trans }}</small></h1>
	<div class="container-fluid">
		<div class="row">
			<div class="btn-group pull-left">
				<a href="{{ path('_admin_usergroup_create') }}" class="btn btn-primary">{{ 'Create new user group'|trans }}</a>
			</div>
			{% set pager %}{% include 'ControlAdminBundle:Bootstrap/Common:pagination.html.twig' with {'pager': pager, 'items': userGroups, 'paginationClassName': 'pagination-inline'} only %}{% endset %}
			{{ pager }}
		</div>
	</div>
	<table class="table table-bordered table-striped table-hover table-condensed table-list">
		<thead>
		<tr>
			<th class="col-mark"><input type="checkbox"/></th>
			<th class="col-name">{{ 'Name'|trans }}:</th>
			<th class="col-control">{{ 'Control'|trans }}:</th>
		</tr>
		</thead>
		<tbody>
		{% for number, userGroup in userGroups %}
			<tr>
				<td class="col-mark"><input type="checkbox"/></td>
				<td class="col-name">{{ userGroup.getName }}</td>
				<td class="col-control">
					<div class="btn-group btn-group-xs" role="group">
						<a href="{{ path('_admin_usergroup_edit', {'id': userGroup.getId}) }}" target="_self" class="btn btn-default">{{ 'Edit'|trans }}</a>
						<a href="{{ path('_admin_usergroup_delete', {'id': userGroup.getId}) }}" target="_self" class="btn btn-danger">{{ 'Delete'|trans }}</a>
					</div>
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
	{{ pager }}

{% endblock %}