{% extends 'ControlAdminBundle:Bootstrap:layout.html.twig' %}

{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('admin/bootstrap/js/filter.js') }}"></script>
{% endblock %}

{% block content %}
	<h1>{{ 'Sites'|trans }} <small>{{ 'list'|trans }}</small></h1>
	{% include 'ControlAdminSiteBundle:Bootstrap/Site:sitesListFilter.html.twig' with{'form': formFilter} only %}
	<div class="container-fluid">
		<div class="row">
			<div class="btn-group pull-left">
				<a href="{{ path('_admin_site_create') }}" class="btn btn-primary">{{ 'Create new site'|trans }}</a>
			</div>
			{% set pager %}{% include 'ControlAdminBundle:Bootstrap/Common:pagination.html.twig' with {'pager': pager, 'items': sites, 'filter': filter, 'paginationClassName': 'pagination-inline'} only %}{% endset %}
			{{ pager }}
		</div>
	</div>
	<table class="table table-bordered table-striped table-hover table-condensed table-list">
		<thead>
		<tr>
			<th class="col-mark"><input type="checkbox"/></th>
			<th class="col-name">{{ 'Domain'|trans }}:</th>
			<th class="col-date">{{ 'Created'|trans }}:</th>
			<th class="col-date">{{ 'Expire'|trans }}:</th>
			<th class="col-control">{{ 'Control'|trans }}:</th>
		</tr>
		</thead>
		<tbody>
		{% for number, site in sites %}
			<tr>
				<td class="col-mark"><input type="checkbox"/></td>
				<td class="col-name">
					{% set count = site.getDomains|length %}
					{% if count > 0 %}
						<a href="http://{{ site.getDomains.first.getDomain }}" target="_blank">{{ site.getDomains.first.getDomain }}</a>
						{% if count > 1 %}
							{{ 'and'|trans }} {{ count-1 }}<a href="#collapseExample" data-toggle="collapse" aria-expanded="false">...</a>
							<span class="collapse" id="collapseExample">
								{% for domain in site.getDomains %}
									{% if not loop.first %} ,<a href="http://{{ domain.getDomain }}" target="_blank">{{ domain.getDomain }}</a>{% endif %}
								{% endfor %}
							</span>
						{% endif %}
					{% endif %}
				</td>
				<td class="col-date">{{ site.getDateCreated|date('Y-m-d H:i') }}</td>
				<td class="col-date">{{ site.getDateExpire|date('Y-m-d H:i') }}</td>
				<td class="col-control">
					<div class="btn-group btn-group-xs" role="group">
						<a href="{{ path('_admin_site_edit', {'id': site.getId}) }}" target="_self" class="btn btn-default">{{ 'Edit'|trans }}</a>
					</div>
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
	{{ pager }}

{% endblock %}