{% extends 'ControlAdminBundle:Bootstrap:layout.html.twig' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('admin/bootstrap/js/form.js') }}"></script>
	<script type="text/javascript" src="{{ asset('admin/bootstrap/js/sites.js') }}"></script>
{% endblock %}

{% block content %}
	<h1>{{ 'Site'|trans }} <small>{{ 'edit'|trans }}</small></h1>
	<div class="btn-group">
		<a href="{{ path('_admin_site_sites') }}" class="btn btn-primary">{{ 'Sites list'|trans }}</a>
	</div>
	{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

	{{ form_row(form.userId) }}
	{{ form_row(form.environment) }}
	{{ form_row(form.dateExpire) }}
	{{ form_row(form.databaseHost) }}
	{{ form_row(form.databaseName) }}
	{{ form_row(form.databaseUser) }}
	{{ form_row(form.databasePassword) }}

	<div class="form-group">
		<button type="button" class="btn btn-default btn-add-domain">Add domain</button>
	</div>
	<div class="containerDomains" data-prototype="{% filter escape %}{% include 'ControlAdminSiteBundle:Bootstrap/Site:siteEditDomain.html.twig' with {'formDomain': form.domains.vars.prototype} %}{% endfilter %}">
		{% for formDomain in form.domains %}
			{% include 'ControlAdminSiteBundle:Bootstrap/Site:siteEditDomain.html.twig' with {'formDomain': formDomain} only %}
		{% endfor %}
	</div>

	{{ form_end(form) }}

{% endblock %}