{% extends 'ControlAdminBundle:Bootstrap:layout.html.twig' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('admin/bootstrap/js/form.js') }}"></script>
{% endblock %}

{% block content %}
	<h1>{{ 'Page'|trans }} <small>{{ 'edit'|trans }}</small></h1>
	<div class="btn-group">
		<a href="{{ path('_admin_pages') }}" class="btn btn-primary">{{ 'Pages list'|trans }}</a>
	</div>
	{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
	{{ form_widget(form) }}
	{{ form_end(form) }}

{% endblock %}