<div class="filter">
	<table class="table table-condensed table-filter">
		<tr>
			<td class="col-mark">
				<button type="button" class="btn btn-xs btn-primary btn-open" data-toggle="tooltip" title="{{ 'Open filter'|trans }}">
					<span class="glyphicon glyphicon-filter"></span>
				</button>
			</td>
		</tr>
	</table>
	{{ form_start(form, {'name': 'filter'}) }}
	<table class="table table-condensed table-filter hide">
		<tr>
			<td class="col-mark">
				<button type="button" class="btn btn-xs btn-close" data-toggle="tooltip" title="{{ 'Close filter'|trans }}">
					<span class="glyphicon glyphicon-filter"></span>
				</button>
			</td>
			<td class="col-name">
				{{ form_row(form.name) }}
			</td>
			<td class="col-removed">Removed:</td>
			<td class="col-control">
				<button type="submit" class="btn btn-xs btn-primary" data-toggle="tooltip" title="{{ 'Search'|trans }}">
					<span class="glyphicon glyphicon-search"></span>
				</button>
				<button type="reset" class="btn btn-xs btn-success btn-filter-clear" data-toggle="tooltip" title="{{ 'Clear filter'|trans }}">
					<span class="glyphicon glyphicon-remove"></span>
				</button>
			</td>
		</tr>
	</table>
	{{ form_end(form) }}
</div>
