{% extends 'ControlAdminBundle:Bootstrap:layout.html.twig' %}

{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('admin/bootstrap/js/filter.js') }}"></script>
{% endblock %}

{% block content %}
	<h1>{{ 'Pages'|trans }} <small>{{ 'list'|trans }}</small></h1>
	{% include 'ControlAdminBundle:Bootstrap/Page:pagesListFilter.html.twig' with{'form': formFilter} only %}
	<div class="container-fluid">
		<div class="row">
			<div class="btn-group pull-left">
				<a href="{{ path('_admin_page_create') }}" class="btn btn-primary">{{ 'Create new page'|trans }}</a>
			</div>
			{% set pager %}{% include 'ControlAdminBundle:Bootstrap/Common:pagination.html.twig' with {'pager': pager, 'items': pages, 'filter': filter, 'paginationClassName': 'pagination-inline'} only %}{% endset %}
			{{ pager }}
		</div>
	</div>
	<table class="table table-bordered table-striped table-hover table-condensed table-list">
		<thead>
		<tr>
			<th class="col-mark"><input type="checkbox"/></th>
			<th class="col-name">{{ 'Name'|trans }}:</th>
			<th class="col-path">{{ 'Path'|trans }}:</th>
			<th class="col-removed">{{ 'Removed'|trans }}:</th>
			<th class="col-control">{{ 'Control'|trans }}:</th>
		</tr>
		</thead>
		<tbody>
		{% for number, page in pages %}
			<tr>
				<td class="col-mark"><input type="checkbox"/></td>
				<td class="col-name">{{ page.getName }}</td>
				<td class="col-path">{{ page.getPath }}</td>
				<td class="col-removed"></td>
				<td class="col-control">
					<div class="btn-group btn-group-xs" role="group">
						<a href="{{ path('_admin_page_edit', {'id': page.getId}) }}" target="_self" class="btn btn-default">{{ 'Edit'|trans }}</a>
						<a href="{{ path('_admin_page_delete', {'id': page.getId}) }}" target="_self" class="btn btn-danger">{{ 'Delete'|trans }}</a>
					</div>
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
	{{ pager }}

{% endblock %}