html,body {margin: 0; padding: 0;}
html {height: 100%;}
body {height: 100%;}
.layout-wrapper {width: 100%; min-width: 500px; min-height: 100%; height: auto !important; height: 100%;}
.layout-header {height: 51px;}
.layout-header-fixed {position: fixed; z-index: 10; width: 100%; height: 51px;}
.layout-middle {width: 100%; padding: 0 0 50px; position: relative;}
.layout-middle:after {display: table; clear: both; content: '';}
.layout-container {overflow: hidden;}
.layout-content {padding: 0 0 0 250px;}
.layout-sidebar-left {position: fixed; height: 100%; float: left; width: 250px; background: #B5E3FF;}
.layout-footer {margin: -50px auto 0; min-width: 100px; height: 50px; background: #BFF08E; position: relative;}

@media (max-width: 768px) {
	.layout-sidebar-left {position: static; float: none; width: auto; height: auto; background-color: green;}
	.layout-container {float: none;}
	.layout-content {padding-left: 0;}
}

span.collapse.in {display: inline;}

label {margin-bottom: 1px;}
.form-group {margin-bottom: 5px;}

.table-list {table-layout: fixed;}
.table-list>thead>tr {background-color: #ffffcc;}
.table-list>thead>tr>th {text-align: center;}
.col-mark {width: 24px;}
.col-email {width: auto; overflow: hidden;}
.col-appointment {width: 150px;}
.col-path {width: 150px;}
.col-name {width: auto;}
.col-date {width: 130px;}
.col-sex {width: 41px;}
.col-removed {width: 79px;}
.col-control {width: 101px;}

.filter {}

.pagination.pagination-inline {margin-left: 12px; margin-top: 0; margin-bottom: 0;}
.pagination.pagination-items-count > li > a {color: #333;}
.pagination.pagination-items-count > li > a:hover {color: #333; background-color: #ffffff;}
