{% extends 'ControlAdminBundle:Bootstrap:layoutLogin.html.twig' %}

{% block content %}
	{% if error is defined and error %}
		<div class="alert alert-error">
			<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		</div>
	{% endif %}
	<form action="{{ path('_admin_check_login') }}" method="post" class="form-signin">
		<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
		<h2 class="form-signin-heading">Please sign in</h2>
		<label for="email" class="sr-only">Email address</label>
		<input type="email" name="_username" id="email" class="form-control" placeholder="Email address" required autofocus>
		<label for="password" class="sr-only">Password</label>
		<input type="password" name="_password" id="password" class="form-control" placeholder="Password">
		<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
	</form>
{% endblock %}
