{% extends 'ControlAdminBundle:Bootstrap:layout.html.twig' %}

{% block content %}
	<h1>{{ 'Pages service'|trans }} <small>{{ 'list'|trans }}</small></h1>
	<table class="table table-bordered table-striped table-hover table-condensed table-list">
		<thead>
		<tr>
			<th class="col-mark"><input type="checkbox"/></th>
			<th class="col-name">{{ 'Name'|trans }}:</th>
			<th class="col-path">{{ 'Path'|trans }}:</th>
			<th class="col-control">{{ 'Control'|trans }}:</th>
		</tr>
		</thead>
		<tbody>
		{% for number, pageService in pagesService %}
			<tr>
				<td class="col-mark"></td>
				<td class="col-name">{{ pageService.getName }}</td>
				<td class="col-path">{{ pageService.getPath }}</td>
				<td class="col-control">
					<div class="btn-group btn-group-xs" role="group">
						<a href="{{ path('_admin_page_service_edit', {'id': pageService.getId}) }}" target="_self" class="btn btn-default">{{ 'Edit'|trans }}</a>
					</div>
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>

{% endblock %}