{% block form_row %}
	{% spaceless %}
		{% if form.vars.block_prefixes[1] in ['text','textarea'] or true %}
			<div class="form-group{% if form.vars.errors|length > 0 %} has-error{% endif %}">
		{% endif %}
			{{ form_label(form, null, {'label_attr': {'class': 'control-label'}}) }}
			{{ form_errors(form) }}
			{% set class = '' %}
			{% if form.vars.block_prefixes[1] in ['text','textarea'] %}
				{% set class = 'form-control input-sm' %}
			{% endif %}
			{{ form_widget(form, {'attr': {'class': class}}) }}
		{% if form.vars.block_prefixes[1] in ['text','textarea'] or true %}
			</div>
		{% endif %}
	{% endspaceless %}
{% endblock form_row %}
