{%- block form_widget_compound -%}
	{#<div {{ block('widget_container_attributes') }}>#}
		{%- if form.parent is empty -%}
			{{ form_errors(form) }}
		{%- endif -%}
		{{- block('form_rows') -}}
		{{- form_rest(form) -}}
	{#</div>#}
{%- endblock form_widget_compound -%}