<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Admin</title>
	<link rel="icon" href="{{ asset('images/favicon.ico') }}">
	{% block stylesheets %}
		<link rel="stylesheet" href="{{ asset('admin/bootstrap/css/bootstrap.min.css') }}">
		<link rel="stylesheet" href="{{ asset('admin/bootstrap/css/common.css?'~getDate('U')) }}">
		<!--[if IE 7]>
		<link rel="stylesheet" href="{{ asset('bundles/admin/bootstrap/css/ie7.css?'~getDate('U')) }}">
		<![endif]-->
		{#
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
		#}
		<!--[if lt IE 9]>
		<script src="{{ asset('js/html5shiv.min.js') }}"></script>
		<script src="{{ asset('js/respond.min.js') }}"></script>
		<![endif]-->
	{% endblock %}
</head>
<body>
<div class="layout-header-fixed">
	{% set activeController = getControllerName() %}
	{% set activeAction = getActionName() %}
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{{ path('_admin') }}">Admin</a>
			</div>
			<div class="collapse navbar-collapse" id="navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li{% if activeController == 'Index' %} class="active"{% endif %}>
						<a href="{{ path('_admin') }}" target="_self">Admin <span class="sr-only">(current)</span></a>
					</li>
					<li class="dropdown{% if activeController == 'Users' %} active{% endif %}">
						<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Users
							<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="javascript:void(0);">Admins</a></li>
							<li{% if activeAction == 'users' %} class="active"{% endif %}>
								<a href="{{ path('_admin_users') }}" target="_self">Users</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="{{ path('_admin_usergroups') }}">User groups</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="javascript:void(0);">User settings</a></li>
						</ul>
					</li>
					<li{% if activeController == 'Page' %} class="active"{% endif %}>
						<a href="{{ path('_admin_pages') }}" target="_self">Pages <span class="sr-only">(current)</span></a>
					</li>
					<li{% if activeController == 'PageService' %} class="active"{% endif %}>
						<a href="{{ path('_admin_pages_service') }}" target="_self">Pages service <span class="sr-only">(current)</span></a>
					</li>
					{# BEGIN VWS ONLY: #}
					{% if constant('Site\\MultiSiteBundle\\Entity\\Role::ROLE_ADMIN_SITE') is defined and is_granted( constant('Site\\MultiSiteBundle\\Entity\\Role::ROLE_ADMIN_SITE') ) %}
						<li{% if activeController == 'Site' %} class="active"{% endif %}>
							<a href="{{ path('_admin_site_sites') }}" target="_self">Sites <span class="sr-only">(current)</span></a>
						</li>
					{% endif %}
					{# END VWS ONLY. #}
				</ul>
				<ul class="nav navbar-nav">
					<li class="test-1" style="padding: 0 5px;"></li>
					<li class="test-2" style="padding: 0 5px;"></li>
					<li class="test-3" style="padding: 0 5px;"></li>
					<li class="test-4" style="padding: 0 5px;"></li>
					<li class="test-5" style="padding: 0 5px;"></li>
					<li class="test-6" style="padding: 0 5px;"></li>
					<li class="test-7" style="padding: 0 5px;"></li>
					<li class="test-8" style="padding: 0 5px;"></li>
					<li class="test-9" style="padding: 0 5px;"></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="{{ path('_admin_logout') }}" target="_self">Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>
</div>
<div class="layout-wrapper">
	<div class="layout-header"></div>
	<div class="layout-middle">
		<div class="layout-sidebar-left">
			Sidebar left
		</div>
		<div class="layout-container">
			<div class="layout-content">
				<div class="container-fluid">
					{% if app.session.flashbag.has('success') %}
						<div class="alert alert-success alert-dismissible" role="alert">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span></button>
							<ul>
								{% for flashMessage in app.session.flashbag.get('success') %}
									<li>{{ flashMessage }}</li>
								{% endfor %}
							</ul>
						</div>
					{% endif %}
					{% if app.session.flashbag.has('error') %}
						<div class="alert alert-danger alert-dismissible" role="alert">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span></button>
							<ul>
								{% for flashMessage in app.session.flashbag.get('error') %}
									<li>{{ flashMessage }}</li>
								{% endfor %}
							</ul>
						</div>
					{% endif %}
					{% block content %}{% endblock %}
				</div>
			</div>
		</div>
	</div>
</div>
<div class="layout-footer">
	<div class="container-fluid" id="footerContainer">

	</div>
</div>
{% block javascripts %}
	<script src="{{ asset('js/jquery.min.js') }}"></script>
	<script src="{{ asset('admin/bootstrap/js/bootstrap.min.js') }}"></script>
	<script src="{{ asset('admin/bootstrap/js/common.js?'~getDate('U')) }}"></script>
{% endblock %}
</body>
</html>