<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="{{ asset('images/favicon.ico') }}">
	<title>Login</title>
	{% block stylesheets %}
		<link rel="stylesheet" href="{{ asset('admin/bootstrap/css/bootstrap.min.css') }}" type="text/css" media="all"/>
		<link rel="stylesheet" href="{{ asset('admin/bootstrap/css/login.css') }}" type="text/css" media="all"/>
	{% endblock %}
</head>

<body>

<div class="container">
	{% block content %}{% endblock %}
</div> <!-- /container -->


{% block javascripts %}
	<script src="{{ asset('js/jquery.min.js') }}"></script>
	<script src="{{ asset('admin/bootstrap/js/bootstrap.min.js') }}"></script>
{% endblock %}
</body>
</html>