{% if className is not defined %}
	{% set className = 'text-center' %}
{% endif %}
{% if paginationClassName is not defined %}
	{% set paginationClassName = '' %}
{% endif %}
<nav class="{{ className }}">
	<ul class="pagination {{ paginationClassName }}">
		{% if pager.pagesCountTotal > 1 %}
			{% set conditions = {} %}
			{% if filter is defined %}
				{% set conditions = filter.getConditions %}
			{% endif %}
			{% for item in pager.paginationAsArray %}
				{% set parameters = conditions|merge({'p': item.number}) %}
				{% set url = path(app.request.get('_route'), parameters) %}
				{% if loop.first %}
					<li{% if item.status == 'disabled' %} class="disabled"{% endif %}>
						<a href="{% if item.status == 'disabled' %}javascript:void(0);{% else %}{{ url }}{% endif %}" aria-label="Previous">
							<span aria-hidden="true">&laquo;</span>
						</a>
					</li>
					{% if item.status != 'disabled' %}
						<li class="disabled">
							<a href="javascript:void(0);">
								<span aria-hidden="true">...</span>
							</a>
						</li>
					{% endif %}
				{% elseif loop.last %}
					{% if item.status != 'disabled' %}
						<li class="disabled">
							<a href="javascript:void(0);">
								<span aria-hidden="true">...</span>
							</a>
						</li>
					{% endif %}
					<li{% if item.status == 'disabled' %} class="disabled"{% endif %}>
						<a href="{% if item.status == 'disabled' %}javascript:void(0);{% else %}{{ url }}{% endif %}" aria-label="Next">
							<span aria-hidden="true">&raquo;</span>
						</a>
					</li>
				{% else %}
					<li{% if item.status == 'active' %} class="active"{% endif %}><a href="{{ item.status == 'active' ? 'javascript:void(0);' : url }}">{{ item.label }}</a></li>
				{% endif %}
			{% endfor %}
		{% else %}
			<li class="invisible"><span>&nbsp;</span></li>
		{% endif %}
	</ul>
	{% if pager.pagesCountTotal > 1 %}
		<ul class="pagination {{ paginationClassName }} pagination-items-count">
			{% set from = pager.getPageCurrent * pager.getItemsPerPage - pager.getItemsPerPage + 1 %}
			<li><a>{{ from }}-{{ from + items|length - 1 }} of {{ pager.getItemsCountTotal }}</a></li>
		</ul>
	{% endif %}
</nav>
